<h1>欢迎使用寄雪</h1>
<form method="POST" action="/homepage/display/">
{% csrf_token %}
<label for="dname">朝代： </label>
<input type="text" name="textfield" id="dname">

<label for="aname">诗人： </label>
<input type="text" name="textfield" id="aname">

<label for="kname">关键词： </label>
<input type="text" name="textfield" id="kname">

<label for="kname">分析：</label>
<input type="text" name="textfield" id="kname">

<button type="submit">提交</button>
</form>

<h3>说明：</h3>
<p>请先阅读以下对【分析】的说明，选择您需要进行的分析，并填写对应数字。目前支持以下分析：</p>
<p>1：关键词出现次数统计。返回结果为关键词在搜索范围内的多少首诗/词中出现过。必填项：【关键词】，多个关键词之间以空格隔开。【朝代】可留空，默认朝代包括魏晋、唐、宋、清。【诗人】建议留空，默认诗人包括所有诗人。</p>
<p>2：字频统计。返回结果为搜索范围内的诗/词中最频繁的5个字。【关键词】与【作者】请务必择一填写。【朝代】可留空，默认朝代包括魏晋、唐、宋、清。</p>

dynasty: 朝代（0~15）
XianQin = 1,
Qin = 2,
Han = 3,
WeiJin = 4,
NanBei = 5,
Sui = 6,
Tang = 7,
Song = 8,
Liao = 9,
Jin = 10,
Yuan = 11,
Ming = 12,
Qing = 13,
Jindai = 14,
Xiandai = 14,
Dangdai = 15